main {
  width: 100%;
  display: flex;
}

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.input-data {
  display: flex;
  flex-direction: column;
}

.input-data input {
  border: none;
  outline: none;
  direction: rtl;
  color: white;
  height: 30px;
  background-color: rgba(62, 58, 66, 0.934);
  padding-right: 10px;
}

.buttons {
  display: flex;
}

.buttons .left-side {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttons .left-side > * {
  padding: 10px 25px;
  border: 1px solid lightgray;
  font-size: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.buttons .left-side .zero {
  grid-column: 1 / span 2;
}

.buttons .right-side {
  flex: 1;
  display: grid;
  flex-direction: column;
}

.buttons .right-side > * {
  padding: 10px 25px;
  background-color: orange;
  border: 1px solid lightgray;
  font-size: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
